<div class="print-section">
  <h3>Emil Sunesson</h3>
  <div class="cv-row">
    <div style="display: flex; flex: 1 1">
      Full stack developer
    </div>
    <div style="display: flex; flex: 1 1">
      <i style="vertical-align: bottom;" class="material-icons">mail_outline</i> sunesson.emil@gmail.com
    </div>
  </div>

  <div class="cv-row">
    <div style="display: flex; flex: 1 1">
      <a href="https://github.com/inspirsea">https://github.com/inspirsea </a>
    </div>
    <div style="display: flex; flex: 1 1">
      <i style="vertical-align: bottom;" class="material-icons">phone</i> +46-723 84 99 16
    </div>
  </div>
</div>

<div class="print-section">
  <h3>Profile</h3>
  <div>
    I have experience working in agile teams with scrum and git.
    <br> I believe clean code and quality is essential in all development.
    <br> I am confident in my ability to quickly adopt new languages, libraries and frameworks, and to adapt to the needs of
    the team.
  </div>
</div>

<div class="print-section">
  <h3>Work experience</h3>
  <h4>Front-end developer Trafikverket 2015-10 – 2017-05</h4>
  <ul>
    <li>Part of the core team for developing their new system. A system for performing and creating theory tests for available
      licenses.
    </li>
    <li>Most front-end development using Angular 2, HTML5, Sass, CSS3, Webpack.</li>
    <li>Some back-end work C#, Entity Framework, SQL Server.</li>
  </ul>
  <h4>Full-stack developer Treserva 2014-09 – 2015-10</h4>
  <ul>
    <li>Part of a small team that developed a new part of the system to generate and print dynamic forms.</li>
    <li>C#, SQL Server, HTML, jQuery.</li>
  </ul>
</div>

<div class="print-section">
  <h3>Education</h3>
  <h4>Computer science 2010-09 - 2014-01</h4>
</div>

<div class="print-section">
  <h3>Technical Skills</h3>
  <div>
    Angular 5, Javascript ES6, TypeScript, C#, Sql, Git, Webpack, WebGL, Canvas, HTML5, Sass
  </div>
</div>

<div class="print-section">
  <h3>Side projects</h3>
  <div>
    Tree Component
    <br>
    <a href="https://www.npmjs.com/package/tree-ngx">https://www.npmjs.com/package/tree-ngx</a>
  </div>
  <div>
    Particle library
    <br>
    <a href="https://www.npmjs.com/package/particle-ins">https://www.npmjs.com/package/particle-ins</a>
  </div>
</div>
