.my-custom-tree {
  .node-name {
    padding: 5px 0px 5px 10px;
    &.markSelected {
      padding: 5px 0px 5px 3px;
      border-left: 7px mat-color($accent, 600) solid;
    }
  }
  
  .arrow-down {
    border-top: 7px solid mat-color($accent, 600);
  }
  .arrow-right {
    border-left: 7px solid #455A64;
  }
}
