<ngx-tree-header></ngx-tree-header>

<h3>Custom Template</h3>

<div>
  Customize the template by providing a ng-template in the content area. Currently customizable parts are:
  <br> nodeNameTemplate,
  <br> nodeCollapsibleTemplate
</div>

<br>

<span class="accent">Customize nodeNameTemplate</span>

<div highlight-js-content>
  <pre>
    <code>
      // Identifier for customizing the nameTemplate.
      #nodeNameTemplate

      // Node will contain the nodeItem of the node.
      let-node="node"
      
      // Context will expose some methods, delete, toggleExpand
      let-context="context"
    </code>
  </pre>
</div>

<br>

<span class="accent">Example</span>

<div highlight-js-content>
  <pre>
      <code>
        {{customNameTemplateCode}}
      </code>
    </pre>
</div>

<tree-ngx [nodeItems]="customNameItems">
  <ng-template #nodeNameTemplate let-node="node" let-context="context">
    {{node.name}} id: {{node.id}}
    <i (click)="context.delete()" class="treeIcon material-icons">delete</i>
  </ng-template>
</tree-ngx>

<br>

<span class="accent">Customize nodeCollapsibleTemplate</span>

<div highlight-js-content>
  <pre>
      <code>
        // Identifier for customizing the collapsibleTemplate.
        #nodeCollapsibleTemplate
  
        // "expanded" determines if the node is expanded
        let-expanded="expanded"
      </code>
    </pre>
</div>

<span class="accent">Example</span>

<div highlight-js-content>
  <pre>
    <code>
      {{customCollapsibleCode}}
    </code>
  </pre>
</div>

<tree-ngx [nodeItems]="customCollapsibleItems">
  <ng-template #nodeCollapsibleTemplate let-expanded="expanded">
    <i *ngIf="expanded" class="iconCollapsible material-icons">add</i>
    <i *ngIf="!expanded" class="iconCollapsible material-icons">remove</i>
  </ng-template>
</tree-ngx>
