<div class="console-container">
    <div class="center console">
        <div class="cmd" #cmd></div>
        <span>|</span>
    </div>
</div>

<div class="introduction">
    <p>Full stack developer</p>
    <p>
        <i style="vertical-align: bottom;" class="material-icons">mail_outline</i> sunesson.emil@gmail.com
    </p>
    <p>
        <i style="font-size: 32px; vertical-align: sub;" class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/inspirsea">https://github.com/inspirsea </a>
    </p>

</div>