<div class="center-container">
    <div class="content-container">

        <h3>Particle-ins</h3>

        <div style="margin-bottom: 20px">
            Particle-ins is a library to quickly and efficiently create particle effects.<br>
            Written in Typescript, uses WebGL for rendering.
        </div>

        <canvas width="1000" height="600" id="example1">
        </canvas>

        <div highlight-js-content>
            <pre>
                <code [innerHtml]="example1Code">
                    
                </code>
            </pre>
        </div>

        <particle-system></particle-system>
    </div>
</div>