<div class="center-container">
    <div class="content-container">
        <div class="print-section">
            <h3>Emil Sunesson</h3>
            <div class="cv-row">
                <div style="display: inline-block; width: 400px;">
                    Full stack developer
                </div>
                <div style="display: inline-block; width: 400px;">
                    <i style="vertical-align: bottom;" class="material-icons">mail_outline</i> sunesson.emil@gmail.com
                </div>
            </div>

            <div class="cv-row">
                <div style="display: inline-block; width: 400px;">
                    <a href="https://github.com/inspirsea">https://github.com/inspirsea </a>
                </div>
                <div style="display: inline-block; width: 400px;">
                    <i style="vertical-align: bottom;" class="material-icons">phone</i> +46-723 84 99 16
                </div>
            </div>
        </div>

        <div class="print-section">
            <h3>Profile</h3>
            <div>
                I am comfortable with new frameworks and really enjoy learning new technology.
                <br> I have experience working in agile teams with scrum and git.
                <br> I believe clean code and quality is essential in all development.
            </div>
        </div>

        <div class="print-section">
            <h3>Work experience</h3>
            <h4>Front-end developer Trafikverket 2015-10 – 2017-05</h4>
            <ul>
                <li>Part of the core team for developing their new system. A system for performing and creating theory tests for
                    available licenses.
                </li>
                <li>Most front-end development using Angular 2, HTML5, Sass, CSS3, Webpack.</li>
                <li>Some back-end work C#, Entity Framework, SQL Server.</li>
            </ul>
            <h4>Full-stack developer Treserva 2014-09 – 2015-10</h4>
            <ul>
                <li>Part of a small team that developed a new part of the system to generate and print dynamic forms.</li>
                <li>HTML, jQuery, C#, SQL Server.</li>
            </ul>
        </div>

        <div class="print-section">
            <h3>Education</h3>
            <h4>Computer science 2010-09 - 2014-01</h4>
        </div>

        <div class="print-section">
            <h3>Technical Skills</h3>
            <div>
                Angular 4, ES6, TypeScript, HTML5, Sass, Webpack, Git, C#, Sql, WebGL, Canvas
            </div>
        </div>

        <div class="print-section">
            <h3>Side projects</h3>
            <div>
                <a href="http://hellwalker-games.com/">http://hellwalker-games.com/</a>
                <br>A 2d game my first real attempt at game development.
                <br>Run with Chrome or Firefox.
            </div>
        </div>
        
    </div>

</div>