<div>
  <span class="accent">Name:</span> {{station.name}}
</div>
<div>
  <span class="accent">Coordinates:</span> {{station.x}}, {{station.y}}, {{station.z}}
</div>
<div>
    <span class="accent">Population:</span> {{station.population}}
</div>
<div>
    <span class="accent">Government:</span> {{station.government}}
</div>
<div>
    <span class="accent">Allegiance:</span> {{station.allegiance}}
</div>
<div>
    <span class="accent">State:</span> {{station.state}}
</div>
<div>
    <span class="accent">Security:</span> {{station.security}}
</div>
<div>
    <span class="accent">Primary economy:</span> {{station.primary_economy}}
</div>
<div>
    <span class="accent">Power:</span> {{station.power}}
</div>
<div>
    <span class="accent">Power state:</span> {{station.power_state}}
</div>
<div>
    <span class="accent">Controlling minor faction:</span> {{station.controlling_minor_faction}}
</div>
<div>
    <span class="accent">Reserve type:</span> {{station.reserve_type}}
</div>
