<div class="center-container">
  <div class="content-container">
    <div style="display: flex; flex: 1 1; flex-direction: row">
      <div style="display: flex; flex: 1 1; flex-direction: column">
        <tree-ngx [nodeItems]="items" [options]="options" (selectedItems)="selectedItemsChanged($event)"></tree-ngx>
      </div>
      <div style="display: flex; flex: 1 1; flex-direction: column">
        <station [station]="station" *ngFor="let station of selected"></station>
      </div>
    </div>
  </div>
</div>
